/* Odin Recipes Home Page*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    font-family: sans-serif;
    background-color: rgba(202, 231, 240, 0.657);
}

#title {
    font-size: 200px;
    width: 2040px;
    color: white;
    padding:16px;
}

.card {
    width: 2040px;
    display: flex;
    margin-left: 200px;
    margin-top: 48px;
}

#subtitle {
    padding: 48px 64px;
    margin: 16px;
    border: 4px dotted black;
}

ol {
    padding: 32px 128px;
    margin: 16px;
    border-style: dotted;
    border: 4px dotted black;
}

ol #top-crime {
    font-weight: 700
}

li {
    margin: 8px;
}