* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
body {
    background-color: rgba(202, 231, 240, 0.657);
    padding-bottom: 128px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

#return {
    display: block;
    text-align: center;
    padding: 36px;
    margin-top: 16px;
}

#title {
    font-size: 50px;
    padding-left: 32px;
    width: 6000px;
}

/* Primary Organizer */

.container {
    display: flex;
    padding: 16px;
    margin-bottom: 8px;
}

.picture {
    margin: 16px;
}

/* Description Block */

.description {
    padding-top: 4px;
}

#subtitle-1 {
    margin: 8px;
}

.description div {
    margin-top: 16px;
}

.description p {
    margin: 8px;
}

/* Ingredients Block */

.ingredients {
    padding-left: 32px;
    margin-bottom: 16px;
    margin-top: 32px;
}

#subtitle-2 {
    margin-bottom: 8px;
}

/* Steps Block */

.steps {
    padding-left: 32px;
}

#subtitle-3 {
    margin-bottom: 8px;
}

/* Footer Title */

#main-title {
    font-size: 200px;
    width: 2040px;
    color: white;
    padding:16px;
    margin-top: 16px;
}